<div class = "container">
<div class="row" id="about-title"><h1><span class="landing-title">About</span></h1></div>

<div class="row" id="about-content">
<div class="col-sm-3 hidden-xs" style = "text-align: center; padding-top: 2.5%">
    <img src="https://github.com/{{site.author.github}}.png" class="img-circle">
</div>
<div class="col-sm-9 col-xs-12">
<b>Paperstone</b> is the name of the first ever R package I created, which allows users to play a game of Scissors-Paper-Stone against R. My blog is named after it as a tribute to how this quintessential game is often used as an intro assignment to students in any Programming 101 class.<br><br>
I'm currently a student in Quantitative Methods, and I hope to share my learnings and love for data science (esp. for social good!) through this blog. Here, I'll document my hobby coding + data analytics projects, mainly focusing on using data science to better understand social and spatial issues. I'm particularly interested in <b>data visualization, spatial data science and web design</b> and hope one day to use these tools to create social impact!<br><br>
To view all posts, view my <a href="{{ site.BASE_PATH }}/{{ site.posts_path }}">Blog</a>, and to search posts by topics, use <a href="{{ site.BASE_PATH }}/{{ site.tags_path }}">Tags</a>. <br><br>
At the end of every post, there is also a link to the relevant Github repo. Please do contact me for any questions/collaborations! I'm always keen to learn more.
</div>
</div>

</div>