$selection: #f5f5f5;

$base:#a4abb2;
$base-dark: #283043;
$highlight: #c42034;
$highlight2: #fc152e;

$about: #f5f0eb;
$feature: #f0f0f0;
$featured-post: rgba(255, 255, 255, 0.6);
$featured-post-hover: rgba(255, 0, 0, 0.6);

$landing-footer: #c9c5c2;

/* Orange-green theme
$selection: #f5f5f5;

$base:#91bba4;
$base-dark: #6f867f;
$highlight: #ce7c2d;
$highlight2: #efba61;
$dark-highlight: #1f3c4a;

$about: #ffd7a0;
$feature: #c4d4cb;
$featured-post: rgba(196,212,203,0.6);
$featured-post-hover: rgba(206, 124, 45,0.6);

$landing-footer: #fff;
*/