---
---

@import "colors";
@import "fonts";

/* All */
body{
	font-family: $main;
	font-size: 17px;
	font-weight: 300;
	line-height: 150%;
	color: #000;
}

b, strong {color: $base-dark; font-weight: 400;}

a, a:visited, a:focus{
	font-weight: 400;
	text-decoration: none;
	color: $base;
}

a:hover, a:active {
	text-decoration: none;
	color: $highlight;
}

::selection {
  background: $selection;
  opacity: 0.8;
}
::-moz-selection {
  background: $selection;
  opacity: 0.8;
}

::-webkit-scrollbar {
    display: none;
}

input {
	font-weight: 300;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #000;
	width: 95%;
}

.img-circle {width: 90%; max-width: 200px; border-radius: 50%;}

.container-fluid {padding: 0;}

/* Landing Page */
#landing {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-snap-points-y: repeat(100%);
	position: relative;
	scroll-behavior: smooth;
}

#cover {
	height: 100vh;
	color: #000000;
	opacity: 0.8;
	background-image: url("{{ site.BASE_PATH }}/img/landing-bg.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover; 
	filter: brightness(110%);
	white-space: nowrap;
	scroll-snap-align: start;
}

@media only screen 
	and (max-width: 1000px) {
    #cover {
		color: #fff;
	}
}

#about-title { justify-content: center; padding-top: 2.5%; height: 20vh;}
#about-content {height: 75vh; overflow-y: scroll;}
.landing-title {border-bottom: 10px solid #000; padding-bottom: 10px;}

#about {
	background: $about;
	height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;  
	text-align: justify;
	overflow: hidden;
	scroll-snap-align: start;
}

#features {
	scroll-snap-align: start;
}

#down {font-size: large; font-weight: 400;}
#down:hover {color: $highlight;}

.featured-container {
	background-color: $feature; 
	padding: 0% 5%; 
	margin-bottom: 0; 
	height: 100vh;
	overflow: hidden;
}

.featured-col {
	height: 100%;
	align-items: center;
	overflow: hidden;
	margin: 0;
}

.featured-img {
	background-size: cover;
	opacity: 0.7;
	height: 90%;
	width: 100%;
	position: absolute;
}

.featured-post {
	background: $featured-post;
	height: 100%;
	overflow: hidden;
	padding: 20px 50px 50px 20px;
	margin: 0px;
	position: absolute;
}

#proj-content {
	height: 70vh; 
	overflow: scroll; 
	margin: 0;
}

#view-more {
	font-family: $header;
	font-size: 24px;
	color: $base-dark;
	justify-content: center;
	height: 10vh;
}

#view-more a { color: $base-dark; }
#view-more a:hover {color: $base-dark; border-bottom: 5px solid $base-dark; height: fit-content; padding-bottom: 10px;}

.post-header,
.post-content {
  	transition: 0.3s;
}

.post-header {
	font-family: $header;
	font-weight: 700;
	font-size: xx-large;
	line-height: 150%;
	color: $base-dark;
	text-align: center;
	position: relative;
	top: 20%;
	bottom: 50%;
	width: 100%;
}

.post-content {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5% 10% 5% 5%;
	opacity: 0;
	text-align: justify;
	width: 100%;
}

.featured-post:hover {
	background: $featured-post-hover;
	color: #fff;
	cursor: pointer;
}

.featured-post:hover .post-header {
  opacity: 0;
}
.featured-post:hover .post-content {
  opacity: 1;
}

.landing-footer {
	font-family: $subtitle;
	font-size: 14px;
	height: 5vh;
	background-color: $landing-footer;
	margin: 0;
	clear: both;
	overflow: hidden;
	text-align: right;
	color: #777;
	padding-right: 10px;
}

/* Sidebar */
.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 10%;
	color: #fff;
	height: 100vh;
	background: url("{{ site.BASE_PATH }}/{{site.sidebar_background_image}}") no-repeat !important;
	filter: brightness(110%);
	opacity: 0.85;
}

.sidebar-header {
	text-align: center;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
	padding: 10px 0;
}

.sidebar-header .title a{
	color: #fff;
	text-decoration: none;
}

#bio {
	font-family: $subtitle;
	font-weight: 300;
	font-size: 13px;
	color: #fff;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
  color: #000;
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}

#contact-list li .btn:hover {background-color: rgba(0, 0, 0, 1) !important;}
#contact-list li:hover .fa-github {color: #6e5494;}
#contact-list li:hover .fa-linkedin {color: #1D87BD;}
#contact-list li:hover .fa-envelope {color: #E93E30;}

/* Page */
.page-container {
	padding-top: 50px;
	padding-right: 60px;
	padding-left: 15px;
	margin: 0;
}

.page-header {
	font-family: 'Lora', serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: $base-dark;
	margin: 0px 20px 20px 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

/* Tags */
#tags {
	height: 75vh;
}

.pop-tags {
	height: 15vh;
	padding-top: 20px;
	padding-right: 5%;
	overflow-y: auto;
}
.pop-tags a{ font-weight: 400;}

.tag-graph {
	width: 100%;
	height: 55vh;
	padding-left: 5%;
	padding-right: 0;
}

.tag-results {
	height: 55vh;
	display: flex;
	align-items: center;
	padding-left: 5%;
	overflow-y: scroll;
}

.tag-results a { color: #000; font-weight: 300;}
.tag-results a:hover {color: $highlight; font-weight: 400;}

@media only screen and (min-width: 768px) {
    .page-header{
        margin-right: 5%;
    }
}  

/* Posts */
article{
	text-align: justify;
	margin-bottom: 40px;
	padding: 0 5% 0;
}

.article_body{
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 20px;
}

.article_tags {	padding-top: 10px;}
.article_btns { padding-top: 30px; }

.post-date {
	font-family: $subtitle;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	color: $highlight;
}

article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: $title, serif; }
article.home {
	h1,h2,h3,h4,h5,h6 {
		font-family: $header;
		font-weight: 700;
		font-size: 24px;
		color: $base-dark;
	}

	h1 a, h2 a, h3 a, h4 a { color: $base-dark;}
	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover { color: $highlight; text-decoration: none;}
}

article.posts {
	h1,h2,h3,h4,h5,h6 {
		font-family: $header;
		font-weight: 700;
		font-size: 24px;
		color: $base-dark;
	}
}

.article-img {
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 60%;
}

pre {
	padding: 9.5px;
	margin: 0 0 10px;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #ccc;
	border-radius: 4px;
	line-height: 1.5;
}

footer {
	height: 10vh;
	padding-top: 15px;
	font-family: $subtitle;
	font-size: 14px;
	font-weight: 300;
}

.btn.pagebtn {border: 1px solid #ccc !important; border-radius: 15px;}
.btn.pagebtn:hover>a{color: $highlight;}
.btn.pagebtn.disabled:hover>a {color: #000000 !important;}

/* Navbar */
.navbar {
	background: transparent;
}

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
	transform: translate(-115px, 35px) !important;
	will-change: auto !important;
}

.dropdown-menu { background-color: #fff;}
.dropdown-menu.menu-about { background-color: $about;}
.dropdown-menu.menu-features { background-color: $feature; }

.dropdown-item {font-size: 0.9rem; color: #000 !important; padding: .1rem 1.5rem; height: 1.8em;}
ul.dropdown-menu>li>a {font-weight: 300;}
ul.dropdown-menu>li>a>i.fa {width: 2em;}
ul.dropdown-menu>li>a:hover {background-color: $highlight2; color: #fff !important;}
ul.dropdown-menu>li>a:visited {background-color: $highlight2; color: #fff;}

.dropdown-divider {border-top: 1px solid #999;}

.btn, .btn:hover, .btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
	font-weight: 300;
	background: none !important;
	border: 0.8px solid #000;
	box-shadow: none !important;
}

.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}
