---
---

@import "colors";
@import url("github.css");
@import url('https://fonts.googleapis.com/css?family=Raleway:700|Lato:300,700|Lora|Source+Sans+Pro:300,400,600&display=swap');

/* All */
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 150%;
	color: #000;
}

b, strong {color: $base-dark; font-weight: 400;}

a, a:visited{
	font-weight: 400;
	text-decoration: none;
	color: $base;
}

a:hover, a:active {
	text-decoration: none;
	color: $highlight;
}

::selection {
  background: $selection;
  opacity: 0.8;
}
::-moz-selection {
  background: $selection;
  opacity: 0.8;
}

::-webkit-scrollbar {
    display: none;
}

input {
	font-weight: 300;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #000;
}


.img-circle {width: 90%; max-width: 200px;}

/* Landing Page */
#landing {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	scroll-snap-points-y: repeat(100%);
	position: relative;
	scroll-behavior: smooth;
}

#cover {
	height: 100vh;
	background-image: url("{{ site.BASE_PATH }}/img/landing-bg.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover; 
	opacity: 0.8;
	filter: brightness(110%);
	white-space: nowrap;
	scroll-snap-align: start;
}

#about-title { text-align: center; height: 20vh;}
#about-content {height: 75vh; overflow-y: scroll;}
.landing-title {border-bottom: 10px solid #000; padding-bottom: 10px;}

#about {
	background: $about;
	height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;  
	text-align: justify;
	overflow: hidden;
	scroll-snap-align: start;
}

#features {
	scroll-snap-align: start;
}

#down {font-size: large; font-weight: 400;}
#down:hover {color: $highlight;}

.featured-container {
	background-color: $feature; 
	padding: 0% 5%; 
	margin-bottom: 0; 
	height: 100vh;
	overflow: hidden;
}

.featured-col {
	height: 100%;
	align-items: center;
	overflow: hidden;
	margin: 0;
}

.featured-img {
	background-size: cover;
	opacity: 0.7;
	height: 90%;
	width: 100%;
	position: absolute;
}

.featured-post {
	background: $featured-post;
	height: 100%;
	overflow: hidden;
	padding: 20px 50px 50px 20px;
	margin: 0px;
	position: absolute;
}

#proj-content {
	height: 70vh; 
	overflow: scroll; 
	margin: 0;
}

#view-more {
	font-family: 'Raleway';
	font-size: 24px;
	opacity: 0.5;
	text-align: center; 
	position: relative;
	height: 10vh;
}

#view-more a {
	color: $base-dark;
}

.post-header,
.post-content {
  	transition: 0.3s;
}

.post-header {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: xx-large;
	line-height: 150%;
	color: $base-dark;
	text-align: center;
	position: relative;
	top: 20%;
	bottom: 50%;
	width: 100%;
}

.post-content {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5% 10% 5% 5%;
	opacity: 0;
	text-align: justify;
	width: 100%;
}

.featured-post:hover {
	background: $featured-post-hover;
	color: #fff;
	cursor: pointer;
}

.featured-post:hover .post-header {
  opacity: 0;
}
.featured-post:hover .post-content {
  opacity: 1;
}

.landing-footer {
	height: 5vh;
	background-color: $landing-footer;
	margin: 0;
	clear: both;
	overflow: hidden;
	text-align: right;
	color: #777;
	padding-right: 10px;
}

/* Sidebar */
.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 10%;
	color: #fff;
}
.sidebar a {font-weight: 500 !important;}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #fff;
}

#bio {
	font-family: "Courier New", Courier, monospace;
	font-size: 13px;
	color: #fff;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
  color: #000;
  -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}

#contact-list li:hover .fa-github {color: #6e5494;}
#contact-list li:hover .fa-linkedin {color: #1D87BD;}
#contact-list li:hover .fa-envelope {color: #E93E30;}

#contact-list-secondary {
	padding-bottom: 10px;
}

/* Page */
.page-container {
	padding-top: 50px;
	padding-right: 30px;
	padding-left: -5px;
}

.page-header {
	font-family: 'Lora', serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: $base-dark;
}

.tags {
	height: 75vh;
	overflow: hidden;
}

.pop-tags {
	height: 25%;
	padding-top: 20px;
	padding-right: 5%;
	overflow-y: auto;
}
.pop-tags a{ font-weight: 400;}

.tag-results {
	padding-top: 5%;
	padding-left: 7.5%;
	height: 75%;
	overflow-y: auto;
}

.tag-results a { color: #000; font-weight: 300;}
.tag-results a:hover {color: $highlight; font-weight: 400;}

@media only screen and (min-width: 768px) {
    .page-header{
        margin-right: 70px;
    }
}

article{
	text-align: justify;
	margin-bottom: 40px;
}

.article_body{
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 20px;
}

.post-date {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
}

article {
	text-align: justify;
	padding: 0 5% 0;
}

article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: 'Lora', serif; }
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
article.home h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: $base-dark;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
	color: $base-dark;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
	color: $highlight;
	text-decoration: none;
}

article.posts h1,
article.posts h2,
article.posts h3,
article.posts h4,
article.posts h5,
article.posts h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: $base-dark;
}

.article-img {
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	width: 60%;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

/* Navbar */
.navbar {
	background: transparent;
}

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}
ul.dropdown-menu>li>a {font-weight: 300;}

ul.dropdown-menu>li>a>i.fa {width: 1.3em;}

ul.dropdown-menu>li>a:hover {
    background-color: $highlight2;
}

.dropdown-menu { background: #fff;}
.dropdown-menu.about { background-color: $about;}
.dropdown-menu.features { background-color: $feature; }

.btn, .btn:hover, .btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
	background: none !important;
	border: 0.8px solid #000;
	box-shadow: none !important;
}
